/* CSS Document */

body {
    font-family: arial;
    background: white;
}

input {
    text-align: center;
}

iframe {
    width: 100%;
    height: 100%;
}

#content {
    background: #2A81F2;
    color: white;
    border-radius: 5px;
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

#view1 {
    display: block;
}

#view2 {
    display: none;
}

#view3 {
    display: none;
    height: 700px;
}

#view4 {
    display: none;
}

#view5 {
    display: none;
}

#team1, #team2, #team3 {
	width:100px;
}

#alliance {
	width:100px;
	text-align:center;
}

#redScore, #blueScore {
	width:100px;
}

.teamStat {
    background: white;
    color: black;
    width: 30%;
    margin: 1%;
    border-radius: 5px;
    border: 5px solid #5af;
    float: left;
    padding-bottom:12px;
}

.scoreDetail {
    padding: 2px;
    border-top: 2px solid #5af;
    padding-top:12px;
}

.scoreDetailObject {
    /*display: none;*/
    margin: auto;
    margin-top: 10px;
}

.actionBar {
    height: 50px;
    background: black;
    padding: 5px;
    text-align: left;
    z-index: 500;
    position: relative;
}

.actionBar p {
    float: left;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin: 9px;
}

.actionBar img {
    height: 50px;
    float: left;
}

.fragment {
    float: left;
    margin-top: -18px;
    height: 100%;
}

.fragmentObject {
    height: 30px;
    background: white;
    border-bottom: 5px solid blue;
    margin-left: -5px;
    padding-top: 15px;
    margin-right: -5px;
    margin-top: -16px;
}

.fragmentObject:hover {
    background: #5AF;
}

.fragmentPane {
    padding: 5px;
    border-left: 5px solid blue;
    height: 100%;
    margin-top: -10px;
}

#leftFragment {
    width: 10%;
}

#rightFragment {
    width: 90%;
}

.Tied {
    background: black;
    color: white;
}

.Won {
    background: green;
    color: white;
}

.Lost {
    background: red;
    color: black;
}

.Red {
    background: red;
    color: black;
}

.Blue {
    background: blue;
    color: white;
}

.Lost a, .Won a, .Tied a {
	color:#fff;
}

.redalliance a {
	color: #f00;
	text-decoration:none;
}

.bluealliance a {
	color:#00f;
	text-decoration:none;
}