/* CSS Document */

body {
    font-family: arial;
    background: white;
}

#content {
    background: #2A81F2;
    color: white;
    border-radius: 5px;
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

#view1 {
    display: block;
}

#view2 {
    display: none;
}

#view3 {
    display: none;
    height: 525px;
}

#view4 {
    display: none;
}

#view5 {
    display: none;
}

.teamStat {
    background: white;
    color: black;
    width: 30%;
    margin: 1%;
    border-radius: 5px;
    border: 5px solid orange;
    float: left;
}

.scoreDetail {
    padding: 2px;
    border: 2px solid orange;
    border-left: 0px;
    border-right: 0px;
}

.scoreDetailObject {
    display: none;
    margin: auto;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}